/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(125, 128, 129)
}
/*  header css */
.top {
  background: white;
  padding: 5px 30px;
}
.top h1 {
  display: inline-block;
  vertical-align: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* prima sezione */

.box {
  width: 80%;
  background-color: white;
  padding: 20px;
  margin: 5px auto;
}
.first {
  margin-top: 30px;
}
.first button {
  color: gray;
  background-color: white;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 3px;
  margin: 5px 0px;
}
.first button:hover {
  background-color: rgb(71, 173, 241);
}
/* seconda sezione */
.second ul{
    list-style: none;
    font-weight: bolder;
    padding-top: 10px;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.second li{
    font-weight: lighter;
    margin: 10px auto;
}
li::before{
    content: "\2713";
    border: 1px solid green;
    color: green;
    border-radius: 50%;
    font-size: xx-small;
    padding: 3px;
    margin-right: 3px;  
}
ul::before{
    content: "\25BC";
    font-size: x-small;
}
/* regole generali check */
.check{
    border: 1px solid;
    border-radius: 30% ;
    font-size: x-small;
    padding: 4px;
    color: white;
    margin-left: 5px;
}
.edit{
    background-color:rgb(71, 173, 241);
}
.fail::before{
    content: "\00d7";
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    font-size: xx-small;
    padding: 3px;
    margin-right: 3px;   
}
.q{
    background-color: blueviolet;
}
.rec{
    background-color:rgb(100, 192, 169) ;
}
.mob{
    background-color:rgb(242, 158, 51) ;
}
.web{
    background-color:rgb(216, 99, 161) ;
}
.sale{
    background-color:rgb(176, 201, 37) ;
}